{{#if label}}
<label class="{{if srOnly 'sr-only' ''}}" for="{{inputId}}">{{label}}</label>
{{/if}}
{{#if isEditing}}
  {{input value=value
    placeholder=placeholder
    elementId=inputId
    classNames="form-control"}}
{{else}}
  <a href="https://www.google.com/maps/dir/Current+Location/{{{value}}} Richland WA" target="_blank" class="decorated">{{{value}}}</a>
{{/if}}
