{{#if label}}
<label class="{{if srOnly 'sr-only' ''}} selectize" for="{{inputId}}">{{label}}</label>
{{/if}}
{{#if isEditing}}
{{ember-selectize selection=selection
    content=content
    optionLabelPath=optionLabelPath
    optionValuePath=optionValuePath
    placeholder=placeholder
    select-item=selectItem}}
{{else}}
  {{value}}
{{/if}}
