<form class="form-inline" {{action 'saveChallenge' on='submit'}}>
  <div class="col-md-6">
    <div class="panel triConf">
      <div class="panel-heading row">
        <h2 class="panel-title col-xs-8">{{bootstrap-input value=challenge.name isEditing=isEditing placeholder="Name"}}</h2>
        {{#if session.user.isAdmin}}
        <div class="col-xs-4 edit-panel">
          {{#if isEditing}}
            <button class="btn btn-primary" {{action 'cancelChange'}}><i class="fa fa-undo"></i></button>
            <button class="btn btn-primary" type='submit'><i class="fa fa-floppy-o"></i></button>
          {{else}}
            <button class="btn btn-primary" {{action 'removeChallenge'}}><i class="fa fa-remove"></i></button>
            <button class="btn btn-primary" {{action 'editChallenge'}}><i class="fa fa-pencil"></i></button>
          {{/if}}
        </div>
        {{/if}}

      </div>
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col-xs-6">
              <p>{{bootstrap-input
                    label="description:"
                    value=challenge.description
                    isEditing=isEditing
                    type="textarea"
                    placeholder="Description"}}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
