<form class="form-inline" {{action 'save' on='submit'}}>
  <div class="col-md-6">
    <div class="panel editable-panel {{panelClass}}">
      <div class="panel-heading row">
        <h2 class="panel-title col-sm-8">{{bootstrap-input value=title isEditing=isEditing placeholder="Title"}}</h2>
        <div class="col-sm-4 edit-panel">
        {{#if session.user.isAdmin}}
          {{#if isEditing}}
            <button class="btn save-button" type='submit'><i class="fa fa-floppy-o"></i></button>
            <button class="btn" {{action 'cancel'}}><i class="fa fa-undo"></i></button>
          {{else}}
            <button class="btn" {{action 'remove'}}><i class="fa fa-remove"></i></button>
            <button class="btn" {{action 'edit'}}><i class="fa fa-pencil"></i></button>
          {{/if}}
        {{/if}}
        {{#if hasBookmark}}
          {{#if bookmarkSelected}}
            <button class="btn" {{action 'bookmark'}}><i class="fa fa-bookmark"></i></button>
          {{else}}
            <button class="btn" {{action 'bookmark'}}><i class="fa fa-bookmark-o"></i></button>
          {{/if}}
        {{/if}}
      </div>
      </div>
      {{yield isEditing}}
    </div>
  </div>
</form>
