<form class="form-inline" {{action 'save' on='submit'}}>
  <div class="col-md-6">
    <div class="panel editable-panel {{panelClass}}">
      <div class="panel-heading row">
        <h2 class="panel-title col-xs-8">{{bootstrap-input value=title isEditing=isEditing placeholder="Title"}}</h2>
        {{#if session.user.isAdmin}}
        <div class="col-xs-4 edit-panel">
          {{#if isEditing}}
            <button class="btn save-button" type='submit'><i class="fa fa-floppy-o"></i></button>
            <button class="btn" {{action 'cancelChange'}}><i class="fa fa-undo"></i></button>
          {{else}}
            <button class="btn" {{action 'remove'}}><i class="fa fa-remove"></i></button>
            <button class="btn" {{action 'edit'}}><i class="fa fa-pencil"></i></button>
          {{/if}}
        </div>
        {{/if}}

      </div>
      {{yield isEditing}}
    </div>
  </div>
</form>
