<form class="form-inline" {{action 'saveRestaurant' on='submit'}}>
  <div class="col-md-6">
    <div class="panel triConf">
      <div class="panel-heading row">
        <h2 class="panel-title {{if session.user.isAdmin 'col-xs-6'}}">{{bootstrap-input value=restaurant.name isEditing=isEditing placeholder="Name"}}</h2>
        {{#if session.user.isAdmin}}
        <div class="col-xs-6 edit-panel">
          {{#if isEditing}}
            <button class="btn btn-primary save-button" type='submit'><i class="fa fa-floppy-o"></i></button>
            <button class="btn btn-primary" {{action 'cancelChange'}}><i class="fa fa-undo"></i></button>
          {{else}}
            <button class="btn btn-primary" {{action 'removeRestaurant'}}><i class="fa fa-remove"></i></button>
            <button class="btn btn-primary" {{action 'editRestaurant'}}><i class="fa fa-pencil"></i></button>
          {{/if}}
        </div>
        {{/if}}

      </div>
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col-xs-6">
              <p>{{bootstrap-input label="Type:" value=restaurant.type isEditing=isEditing placeholder="Type"}}</p>
              <p>{{bootstrap-input label="Location:" value=restaurant.location isEditing=isEditing placeholder="Location"}}</p>
              {{#if hasDiscount}}
              <p>{{bootstrap-input label="Discount:" value=restaurant.discount isEditing=isEditing placeholder="Discount"}}</p>
              {{/if}}
            </div>
            <div class="col-xs-2 event-time"><p>{{bootstrap-input value=restaurant.hours isEditing=isEditing placeholder="Hours"}}</p></div>
            {{#if session.isAuthenticated}}
            <div class="col-xs-4 check-in">
              <div class="well check-in-well" {{action 'checkIn' event}}>
              <i class="fa fa-{{if ateAt 'check-square' 'square'}}-o"></i>
              <p>Ate&nbsp;it!</p>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
