<div class="add-new"><button {{action 'openModal' 'local-eats/new'}}><i class="fa fa-plus-square icon"></i> Add A New Panel</button></div>
{{#each restaurant in model}}
  {{#link-to 'check-in'}}
    <div class="col-md-6">
      <div class="panel triConf">
        <div class="panel-heading">
          <h2 class="panel-title">{{restaurant.name}}</h2>
        </div>
        <div class="media">
          <div class="media-body">
            <div class="row">
              <div class="col-xs-9">
                <p><label>Cuisine:</label> {{restaurant.type}}</p>
                <p><label>Location:</label> {{restaurant.location}}</p></div>
              <div class="col-xs-3 event-time"><p>{{restaurant.hours}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/link-to}}
{{/each}}
{{outlet 'modal'}}
