<nav id="top-nav">
  <img src="images/TriConf-logo.png" />
    <div class="login-panel">
      {{#if session.isAuthenticated}}
      <button class="login-btn" {{action 'logout'}}><i class="fa fa-{{session.provider}} icon"></i> Logout</button>
      {{else}}
      <button class="login-btn" {{action 'login' 'twitter'}}><i class="fa fa-twitter icon"></i> Login</button>
      <button class="login-btn" {{action 'login' 'facebook'}}><i class="fa fa-facebook icon"></i> Login</button>
      {{/if}}
    </div>
</nav>
<nav id="side-nav">
  <ul>
    <li>{{#link-to 'events'}}<i class="fa fa-bullhorn icon"></i>Event List{{/link-to}}</li>
    <li>{{#link-to 'restaurants'}}<i class="fa fa-cutlery icon"></i>Local Eats{{/link-to}}</li>
    <li>{{#link-to 'challenges'}}<i class="fa fa-flag icon"></i>Challenges{{/link-to}}</li>
    <li>{{#link-to 'leaderboard'}}<i class="fa fa-users icon"></i>Leader Boards{{/link-to}}</li>
    <li>{{#link-to 'achievements'}}<i class="fa fa-trophy icon"></i>Achievements{{/link-to}}</li>
  </ul>
</nav>
<div id="application-container">
  {{outlet}}
<nav id="top-menu" class="{{if isExpanded 'lowered' 'raised'}}">
  <ul>
    <li><a {{action 'menuLoad' 'events'}}><i class="fa fa-flag icon"></i> Event List</a></li>
    <li><a {{action 'menuLoad' 'restaurants'}}><i class="fa fa-cutlery icon"></i> Local Eats</a></li>
    <li><a {{action 'menuLoad' 'challenges'}}><i class="fa fa-child icon"></i> Challenges</a></li>
    <li><a {{action 'menuLoad' 'leaderboard'}}><i class="fa fa-users icon"></i> Leader Boards</a></li>
    <li><a {{action 'menuLoad' 'achievements'}}><i class="fa fa-trophy icon"></i> Achievements</a></li>
  </ul>
  {{#if isExpanded}}
  <p><a {{action 'closeMenu'}} class="menu-button">Menu</a></p>
  {{else}}
  <p><a {{action 'openMenu'}} class="menu-button">Menu</a></p>
  {{/if}}
</nav>
</div>
{{#if isModalVisible}}
  {{#modal-dialog}}
    {{component modalDialogName modalContext=modalContext closeAction="closeModal" loginAction="login"}}
  {{/modal-dialog}}
{{/if}}
