<nav id="top-nav">
  <img src="images/TriConf-logo.png" />
</nav>
<nav id="side-nav">
{{#if session.isAuthenticated}}
admin? {{session.user.isAdmin}}
{{session.user.displayName}}
Points: {{session.user.points}}
<button class="btn btn-primary" {{action 'logout'}}><i class="fa fa-{{session.provider}} icon"></i> Logout</button>
{{else}}
<button class="btn btn-primary" {{action 'login' 'twitter'}}><i class="fa fa-twitter icon"></i> Login</button>
<button class="btn btn-primary" {{action 'login' 'facebook'}}><i class="fa fa-facebook icon"></i> Login</button>
{{/if}}
  <ul>
    <li>{{#link-to 'events'}}<i class="fa fa-flag icon"></i>Event List{{/link-to}}</li>
    <li>{{#link-to 'stop-watch'}}<i class="fa fa-users icon"></i>Leader Boards{{/link-to}}</li>
    <li>{{#link-to 'workout-builder'}}<i class="fa fa-trophy icon"></i>Achievements{{/link-to}}</li>
  </ul>
</nav>
<div id="application-container">
  {{outlet}}
</div>
