<nav id="top-nav">
  <img src="images/TriConf-logo.png" />
</nav>
<nav id="side-nav">
  <ul>
    <li>{{#link-to 'events'}}<i class="fa fa-flag icon"></i>Event List{{/link-to}}</li>
    <li>{{#link-to 'local-eats'}}<i class="fa fa-cutlery icon"></i>Local Eats{{/link-to}}</li>
    <li>{{#link-to 'leaderboard'}}<i class="fa fa-users icon"></i>Leader Boards{{/link-to}}</li>
    <li>{{#link-to 'workout-builder'}}<i class="fa fa-trophy icon"></i>Achievements{{/link-to}}</li>
  </ul>
</nav>
<div id="application-container">
  {{outlet}}
<nav id="top-menu" class="{{if isExpanded 'lowered' 'raised'}}">
  <ul>
    <li><a {{action 'menuLoad' 'events'}}><i class="fa fa-flag icon"></i> Event List</a></li>
    <li><a {{action 'menuLoad' 'local-eats'}}><i class="fa fa-cutlery icon"></i> Local Eats</a></li>
    <li><a {{action 'menuLoad' 'leaderboard'}}><i class="fa fa-users icon"></i> Leader Boards</a></li>
    <li><a {{action 'menuLoad' 'achievements'}}><i class="fa fa-trophy icon"></i> Achievements</a></li>
  </ul>
  {{#if isExpanded}}
  <p><a {{action 'closeMenu'}} class="menu-button">Menu</a></p>
  {{else}}
  <p><a {{action 'openMenu'}} class="menu-button">Menu</a></p>
  {{/if}}
</nav>
</div>
