<div class="panel container-fluid filter">
  <div class="row">
       <div class="form-group">
         {{input classNames="form-control" placeholder="Search" value=searchString}}
       </div>
   </div>
   <div class="row">
     {{ember-selectize selection=selectedTrack
         content=trackNames
         optionLabelPath="content.name"
         optionValuePath="content.id"
         placeholder="Fliter Track"}}
   </div>
   <div class="row">
     {{ember-selectize selection=selectedLocation
         content=locationNames
         optionLabelPath="content.venue"
         optionValuePath="content.venue"
         placeholder="Fliter Locations"}}
   </div>
</div>
<div class="row">
  {{#if session.user.isAdmin}}
    <button class="add-panel" {{action 'createEvent'}}><i class="fa fa-plus icon"> Add New Event</i></button>
  {{/if}}
</div>
{{#each sortedEvents as |event|}}
  {{#unless event.isHidden}}
    {{#editable-panel
      item=event
      onRemove="removeEvent"
      onSave="saveEvent"
      onCancel="cancelChange"
      panelClass=event.track.style
      title=event.title as |isEditing|}}
      <div class="media">
        <div class="media-body">
          <div class="row">
            <div class="col-xs-{{if isEditing '12' '8'}} inner-panel">
              <div class="form-group">
                <p class="dayTime"><label>Time/Day:</label>
                {{bootstrap-select-time
                  date=event.displayDate
                  isEditing=isEditing}}
                </p>
                <p>{{bootstrap-input label="Length:" value=event.length isEditing=isEditing}}</p>
                {{#if (hidden-field-check event.speaker session.user.isAdmin isEditing)}}
                <p>{{bootstrap-input label="Presenter:" value=event.speaker isEditing=isEditing}}</p>
                {{/if}}
                <p>{{bootstrap-select
                    label="Track:"
                    selection=event.track
                    content=model.tracks
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    value=event.track.name
                    isEditing=isEditing
                    placeholder="Event Track"
                    }}</p>
                <p>{{bootstrap-select
                    label="Location:"
                    selection=event.location
                    content=model.locations
                    optionValuePath="content.id"
                    optionLabelPath="content.name"
                    value=event.location.name
                    isEditing=isEditing
                    placeholder="Location"}}</p>
              </div>
                {{#if (hidden-field-check event.description session.user.isAdmin isEditing)}}
                <p>{{bootstrap-input label="Description:" value=event.description isEditing=isEditing type='textarea'}}</p>
                {{/if}}
            </div>
            {{#unless isEditing}}
              {{#complete-check checkIn="checkIn" activity=event activityList=session.user.attendedEvents}}
                <p>Saw&nbsp;it!</p>
              {{/complete-check}}
            {{/unless}}
          </div>
        </div>
      </div>
  {{/editable-panel}}
  {{/unless}}
{{/each}}
