<div class="panel container-fluid filter">
  <div class="row">
    <div class="col-lg-4 col-med-4 col-sm-4">
      <form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
    <div class="col-lg-8 col-med-8 col-sm-8">
      <ul class="nav nav-tabs nav-pills">
        <li class="pill-triconf {{if allTracksHidden 'disabled'}}"><a href="#" {{action 'filter' 'all'}}>All</a></li>
        {{#each model.tracks as |track|}}
        <li class="pill-{{track.style}} {{if track.isHidden 'disabled'}}">
          <a href="#" {{action 'filter' track.name}}>{{track.name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{#if session.user.isAdmin}}
<button class="btn btn-primary" {{action 'createEvent'}}><i class="fa fa-plus icon"></i></button>
{{/if}}
{{#each sortedEvents as |event|}}
  {{#unless event.track.isHidden}}
    {{event-component
        event=event
        onEdit="editEvent"
        onRemove="removeEvent"
        onSave="saveEvent"
        checkIn="checkIn"
        onCancel="cancelChange"
        tracks=model.tracks
        locations=model.locations}}
  {{/unless}}
{{/each}}