<div class="panel container-fluid filter">
  <div class="row">
    <div class="col-lg-4 col-med-4 col-sm-4">
      <form role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div>
    <div class="col-lg-8 col-med-8 col-sm-8">
      <ul class="nav nav-tabs nav-pills">
        <li class="pill-triconf"><a href="#" {{action 'filterAll'}}>All</a></li>
        <li class="pill-music"><a href="#" {{action 'filterCulture'}}>Culture/Arts/Music</a></li>
        <li class="pill-activism"><a href="#"{{action 'filterCommunity'}}>Community/Issues/Sustainability</a></li>
        <li class="pill-tech"><a href="#" {{action 'filterTechnology'}}>Tech</a></li>
        <li class="pill-art-and-design"><a href="#"{{action 'filterDesign'}}>Design/Communication</a></li>
        <li class="pill-entrepreneurship" {{action 'filterEntrepreneurship'}}><a href="#">Entrepreneurship</a></li>
      </ul>
    </div>
  </div>
</div>
{{#each event in model}}
  {{#link-to 'check-in'}}
    <div class="col-md-6">
      <div {{bind-attr class=':panel event.track.style :event'}}>
        <div class="panel-heading">
          <h2 class="panel-title">{{event.title}}</h2>
        </div>
        <div class="media">
          <div class="media-body">
            <div class="row">
              <div class="col-xs-9"><p><label>Speaker:</label> {{event.speaker}}</p>
                <p><label>Track:</label> {{event.track.name}}</p>
                <p><label>Location:</label> {{event.location.name}}</p></div>
              <div class="col-xs-3 event-time"><p>{{event.time}}</p><p>{{event.day}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/link-to}}
{{/each}}