<h3>Leaderboards</h3>

<div class="col-md-12 full">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Overall Awesome</h4></div>
		</div>
		{{#each totalScoreLeaderboard as |user index|}}
		<div class="row leader">
			<div class="col-xs-12">{{add-one index}}. {{user.displayName}}<span class="score">{{user.totalScore}} points</span></div>
		</div>
		{{/each}}
	</div>
</div>

<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Enlightened</h4></div>
		</div>
		{{#each eventsLeaderboard as |user index|}}
		<div class="row leader">
			<div class="col-xs-12">{{add-one index}}. {{user.displayName}}<span class="score">{{user.numEvents}} events</span></div>
		</div>
		{{/each}}
	</div>
</div>

<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Glutunous</h4></div>
		</div>
		{{#each restaurantLeaderboard as |user index|}}
		<div class="row leader">
			<div class="col-xs-12">{{add-one index}}. {{user.displayName}}<span class="score">{{user.numRestaurants}} restaurant</span></div>
		</div>
		{{/each}}
	</div>
</div>

<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Ambitious</h4></div>
		</div>
		{{#each bookmarkLeaderboard as |user index|}}
		<div class="row leader">
			<div class="col-xs-12">{{add-one index}}. {{user.displayName}}<span class="score">{{user.numBookmarks}} bookmarks</span></div>
		</div>
		{{/each}}
	</div>
</div>

<div class="col-md-6">
	<div class="leaderboard panel">
		<div class="row heading">
		  <div class="col-xs-12"><h4 class="media-heading">Most Adventurous</h4></div>
		</div>
		{{#each achievementLeaderboard as |user index|}}
		<div class="row leader">
			<div class="col-xs-12">{{add-one index}}. {{user.displayName}}<span class="score">{{user.numAchieved}} achievements</span></div>
		</div>
		{{/each}}
	</div>
</div>
