<div class="row filter">
</div>
{{#if session.isAuthenticated}}
  {{#each sortedEvents as |event|}}
    {{#base-panel
      item=event
      onBookmark="bookmarkEvent"
      panelClass=event.track.style
      bookmark="selected"
      title=event.title}}
        <div class="media">
          <div class="media-body">
            <div class="row">
              <div class="col-xs-8 inner-panel">
                <div class="form-group">
                  <p class="dayTime"><label>Time/Day:</label>
                  {{bootstrap-select-time
                    date=event.displayDate
                    isEditing=false}}
                  </p>
                  <p>{{bootstrap-input label="Length:" value=event.length isEditing=false}}</p>
                  {{#if event.speaker }}
                  <p>{{bootstrap-input label="Presenter:" value=event.speaker isEditing=false}}</p>
                  {{/if}}
                  <p>{{bootstrap-select
                      label="Track:"
                      selection=event.track
                      content=model.tracks
                      optionValuePath="content.id"
                      optionLabelPath="content.name"
                      value=event.track.name
                      isEditing=false
                      placeholder="Event Track"
                      }}</p>
                  <p>{{bootstrap-select
                      label="Location:"
                      selection=event.location
                      content=model.locations
                      optionValuePath="content.id"
                      optionLabelPath="content.name"
                      value=event.location.name
                      isEditing=false
                      placeholder="Location"}}</p>
                </div>
                  {{#if event.description}}
                  <p>{{bootstrap-input label="Description:" value=event.description isEditing=false type='textarea'}}</p>
                  {{/if}}
              </div>
              {{#complete-check checkIn="checkIn" activity=event activityList=session.user.attendedEvents}}
                <p>Saw&nbsp;it!</p>
              {{/complete-check}}
            </div>
          </div>
        </div>
    {{/base-panel}}
    {{else}}
      <div class="row">
        <div class="col-md-6">
          <div class="panel" id="my-events">
            <i class="fa fa-bookmark large-icon"></i>
              <h3>Future List of Amazing Things To Do</h3>
                <p>While you're checking out the Events List, you can bookmark all of the amazing stuff that you want to see and do during this years TriConf. We'll save your todo list here for you so you don't forget.</p>
          </div>
        </div>
      </div>


  {{/each}}
{{else}}
  <div class="row">
    <div class="col-md-6">
      <div class="panel" id="my-events">
        <i class="fa fa-bookmark large-icon"></i>
        <h3>You Should Log In!</h3>
        <p>Then, while you're checking out the Events List, you can bookmark all of the amazing stuff that you want to see and do during this years TriConf. We'll save your todo list here for you so you don't forget.</p>
        <div class="row">
          <button class="login-btn" {{action 'login' 'twitter'}}><i class="fa fa-twitter icon"></i> Login</button>
          <button class="login-btn" {{action 'login' 'facebook'}}><i class="fa fa-facebook icon"></i> Login</button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
