<div class="row filter">
  {{#if session.user.isAdmin}}
    <button class="add-panel" {{action 'createRestaurant'}}><i class="fa fa-plus icon"> Add New Restaurant</i></button>
  {{/if}}
</div>
{{#each sortedRestaurants as |restaurant|}}
  {{#editable-panel
      item=restaurant
      title=restaurant.name
      panelClass="triconf"
      onRemove="removeRestaurant"
      onSave="saveRestaurant"
      onCancel="cancelChange"
      as |isEditing|}}
    <div class="media">
      <div class="media-body">
        <div class="row">
          <div class="col-xs-8">
            <p>{{bootstrap-input label="Type:" value=restaurant.type isEditing=isEditing placeholder="Type"}}</p>
            <p>{{bootstrap-input label="Hours:" value=restaurant.hours isEditing=isEditing placeholder="Hours"}}</p>
            <p>{{bootstrap-input label="Location:" value=restaurant.location isEditing=isEditing placeholder="Location"}}</p>
            {{#if (hidden-field-check restaurant.discount session.user.isAdmin isEditing)}}
            <p>{{bootstrap-input label="Discount:" value=restaurant.discount isEditing=isEditing placeholder="Discount"}}</p>
            {{/if}}
          </div>
        {{#unless isEditing}}
        {{#complete-check checkIn="checkIn" activity=restaurant activityList=session.user.ateAt}}
          <p>Ate&nbsp;it!</p>
        {{/complete-check}}
        {{/unless}}
        </div>
      </div>
    </div>

  {{/editable-panel}}
{{/each}}
