<div id="scheduler">
  <div class="dynamic-column">
    {{#calendar-month selectedDay=selectedDay on-day-selected="daySelected" as |day|}}
      <div class="day-title">
        {{#if day}}
          {{moment day 'D'}}
        {{/if}}
      </div>
      {{#timespan-events start=day end=day as |event|}}
        <div class="event">{{event.title}}</div>
      {{/timespan-events}}
    {{/calendar-month}}
  </div><!--
--><div class="dynamic-column">
    {{#calendar-events start=selectedDay end=selectedDay on-select="eventSelected" on-add="addEvent" as |event|}}
      <div class="event-title">{{event.title}}</div>
      <div class="event-time">{{event.dateTime}}</div>
      <div class="event-details">{{event.details}}</div>
      <a class="right-action" {{action "destroyEvent" event}}><i class="fa fa-times"></i></a>
    {{/calendar-events}}
  </div>
</div>
